# Reporting Service — variables d'environnement

DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données (reporting_db — tables dénormalisées read-only)
REPORTING_DB_HOST=localhost
REPORTING_DB_PORT=5432
REPORTING_DB_NAME=reporting_db
REPORTING_DB_USER=reporting_user
REPORTING_DB_PASSWORD=

# gRPC
REPORTING_GRPC_PORT=50057
