{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "LireSesPropresSecrets",
      "Effect": "Allow",
      "Action": ["secretsmanager:GetSecretValue", "secretsmanager:DescribeSecret"],
      "Resource": "arn:aws:secretsmanager:{{ aws_region }}:{{ appelant.account }}:secret:sgfe/*"
    },
    {
      "Sid": "EcrireLesSauvegardes",
      "Effect": "Allow",
      "Action": ["s3:PutObject", "s3:GetObject", "s3:ListBucket"],
      "Resource": [
        "arn:aws:s3:::{{ bucket_sauvegardes }}",
        "arn:aws:s3:::{{ bucket_sauvegardes }}/*"
      ]
    }
  ]
}
